YANDEX_CLOUD_API_KEY=your_api_key
YANDEX_CLOUD_FOLDER_ID=your_folder_id

REDIS_HOST=localhost
REDIS_PORT=6379

KAFKA_BOOTSTRAP_SERVERS=127.0.0.1:9092
TOPIC_UPLOADING_DATA=uploading_data
TOPIC_AI_HANDLER=AI_handler

# для тестов TEST
MODE=DEV